.header{
    background-color: #00A651;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

body {
    margin: 0px;
}

.logo-text{
    max-width: 137px;
    padding-left: 20px;
}

.Menu-List{
    display: inline;
    padding-left: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.Menu-List:hover{
    color:darkgoldenrod;
}

.menu-items{
    background-color: #00A651;
    padding: 0px;
    color: white;
    align-items: center;
}
.logo{
    align-items: center;
    display: flex;
}
.menu{
    align-items: center;
    display: flex;
}

.banner{
    height: 1080px;
    background-image: url('../images/banner 1.png');
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

h1{
    size: 72px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: black;
    font-family: 'Press Start 2P', cursive;
}
.Programming{
    background-color: #00A651;
    padding-top: 77px;
    padding-left: 455px;
    display: flex;
    align-items: center;
    margin: 0px;
    color: white;
}
h3{
    color: white;
    font-family: 'Press Start 2P', cursive;
    size: 27px;
}
.Programming-Text{
    padding-top: 10px;
    padding-left: 144px;
}

.Programming-TextM{
    font-family: 'Roboto', sans-serif;
    size: 16px;
    max-width: 560px;
}

h4{
    color: white;
    font-family: 'Press Start 2P', cursive;
    size: 16px;
}

.Programming-list{
    font-family: 'Roboto', sans-serif;
    size: 16px;
    max-width: 400px;
}
.Design{
    background-color: #00A651;
    padding-top: 45px;
    padding-left: 468px;
    display: flex;
    align-items: center;
    margin: 0px;
    color: white;
}
.Design-Text{
    font-family: 'Roboto', sans-serif;
    size: 16px;
    max-width: 540px;
    padding-right: 138px;
}
.Design-list{
    font-family: 'Roboto', sans-serif;
    size: 16px;
    max-width: 400px;
}
.Marketing{
    background-color: #00A651;
    padding-top: 77px;
    padding-left: 455px;
    display: flex;
    align-items: center;
    margin: 0px;
    color: white;
    padding-bottom: 99px;
}
.AboutMe{
    color: white;
    height: 600px;
    background-color: rgb(36, 35, 35);
    margin: 0px;
    display: flex;
    font-family: 'Press Start 2P', cursive;
}
h2{
    size: 72px;
    background-color:blueviolet;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    margin-top: 30px;
    max-width: 200px;
}

.AboutMeText{
    max-width: 560px;
    margin: 40px
}
.AboutMeList{
    margin-left: 20px; 
    margin-top: 10px
}